.containerr{
    display: flex;
    flex:1;
    justify-content: space-between;
}
.bar{
    display: flex;
    margin-left: 25px;
    align-items: center;margin-bottom: 50px;

}
.mini{
    display: flex;
    padding-right: 20px;
    margin-bottom: 5px;
}

